<div class="card mb-4">
  <div class="card-body bg-light">
    <img src="https://api.angular.schule/avatar/{{ book.rating }}"
         class="img-thumbnail float-right">

    <div class="card-title">
      <h2>{{ book.title }}
        <span class="badge badge-secondary">
          <!-- <ng-container
            *ngFor="let b of book.rating | toArray">⭐️</ng-container> -->

          {{ '⭐️'.repeat(book.rating) }}
        </span>

      </h2>
    </div>

    <p>
      {{ book.description }}
      <br>
      Price: {{ book.price | currency: 'EUR' }}
    </p>

    <!-- bad code! -->
    <button (click)="doRateDown()" class="btn btn-secondary mr-2">-</button>
    <button (click)="doRateUp()" class="btn btn-primary">+</button>

    <!-- ACHTUNG NIEMALS DAS HIER MACHEN -->
    <!-- <a href="books/asasasas">Details</a> -->

    <a [routerLink]="['/books', book.isbn]"
      class="btn btn-primary ml-2">Details</a>

  </div>
</div>
